@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

* { 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  }

  body {
    max-width: 100vw;
    justify-content: center !important;
    align-items: center;
    width: 90vw; 

  }

  .products-section {
    margin-top: 200px;  
    margin-left: 10vw;   
  }

  .products-div {
    width: 30%;
    float: left;
    margin: 40px 0px;
    color: black;
  }

  .products-div img {
    width: 25vw;
    height: 23vh;
  }

  .product-section {
    padding-top: 100px;
  }

  .product-details {
    padding-left: 10vw;
  }

  select {
    border: none;
    width: 30px;
  }

  select:focus {
    outline: none;
  }

  span {
    position: absolute;
    font-weight: 500;
  }
  
  .categories {
    font-weight: 400;
  }

  .header {
    margin: 2% 8%;
  }

  a {
    text-decoration: none;
  }

  ul, li {
    list-style: none;
  }

  .btn-product {
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .btn-product:hover {
    opacity: 0.8;
  }


  /* Media queries */

  @media only screen and (max-width: 1200px) {

    .products-div {
      width: 30%;
    }

     .product-details p {
        padding: 10px 0;
    }

  }

  @media only screen and (max-height: 1200px) {
    .products-div img {
      width: 260px;
      height: 240px;
     }

  } 

  @media only screen and (max-width: 900px) {

    .products-div {
      width: 50%;
    }

    .products-div img {
      width: 200px;
      height: 200px;
     }

     .product-div img {
      width: 200px;
    }

    .product-div a img {
      width: 50px;
    }

    .product-section {
      padding-top: 100px;
    }

    .product-details {
      position: absolute;
      margin-top: 50vh;

    }

}

  @media only screen and (max-width: 560px) {

    .products-div {
      width: 100%;
      justify-content: center;
    }
    
  }